

.depLink{
    margin-left: 10px;
    font-size:48px;
    color: green;
}
.depLink2 {
    /* margin-left: 200px;
    margin-bottom: 3000px; */
    float: right;
    font-size:48px;
    color: blueviolet;
}
.depLink:hover {
    color: crimson;
    
}
.depLink2:hover {
    color: cornflowerblue;
    
}
.headder {
    text-align: center;
    font-family: 'Girassol', cursive;
    color: lightcyan;
    /* font-family: 'Pacifico', cursive; */
}
.presentation {
    left: 400px;
}
.seattle {
    border-radius: 16px;
    width: 300px;
    margin-right: 100px;
    margin-top: 110px;
    filter: grayscale(75%);
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 60px;
    /* border-image: url("../assets/flourish-2031230_1280.png") 30% round; */
    

}
#oseTitle{
    margin-right: 117px;
    position: relative;
    left: 60px;
    
}
#fullName {
    margin-right: 85px;
    font-size: 350%;
    position: relative;
    left: 60px;
}
.opening {
    margin-top: 230px;
    margin-right: 150px;
    color: lightcyan;
    font-family: 'Girassol', cursive;
}
#statement {
    margin-right: 110px;
}


.appDescription {
    color: black;
}
.tet {
    width:100%; height:570px;
}
.Carousel{
    max-width: 40%;
    margin-left: 380px;
    
    filter: grayscale(80%);
}
.projectTitle {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.projectSubTitle {
    text-align: center;
    font: bold;
    font-family: 'Dancing Script', cursive;
}
#loqalBody {
    height: 173px;

}

#loq {
    max-height: 261px;
}
#planBod {
    height: 168px;
}
.aboutMeTitleCards{
    text-align: center;
    
}
.cBody{
    background-color: lightgray;
}
#oseDenver {
    
    filter: grayscale(90%);
    max-width: 520px;
    width: 200px;
    max-height: 260px;
    margin-left: 75px;
    /* opacity: 85%; */
    border: 5px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.9), 0 6px 20px 0 rgba(255,255,255, 0.9);
    /* border-image: url("../assets/flourish-2031230_1280.png") 30% round; */
    /* max-height: 300px; */
}
.aboutMeStatement{
    margin-right: 800px;
}
#textAbout {
    color: lightslategray;
    border: 10px solid transparent;
    
    border-image: url("../assets/flourish-2031230_1280.png") 30% round;
}

.expBody {
    background-color: transparent;

}

.expButt {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
}
.expButt:hover{
    background-color: darkgrey;
}
.githubIcon {
    color: white;
}
#expRepo{
    padding-left: 150px;
    font-size:72px

}
#expRepo:hover{
    color: white;
}
#expResume{
    padding-left: 150px;

    font-size: 72px;
}
#expResume:hover{
    color: white;
}
#expLinkedIn{
    padding-left: 150px;
    font-size: 72px;
}
#expLinkedIn:hover{
    color: white;
}
.expSubTitle{
text-align: center;
font-family: 'Dancing Script', cursive;
color: white;
}

@media (max-width: 756px) {
    .depLink{
        margin-left: 100px;
    }
    .depLink2{
       margin-right: 125px;
    }
    #oseDenver{
        align-content: center;
    }
    
    
}

@media (min-width: 672px) and (max-width:768px) {
    .expSubTitle{
        text-align: center;
        padding-left: 50px;
    }
    #expResume{
        padding-left: 80px;
        color: firebrick;
    }
    #expRepo{
        padding-left: 100px;
        color: firebrick;
    }
    #expLinkedIn{
        padding-left: 100px;
        color: firebrick;
    }
}
.seattle{
    position: relative;
    bottom: 60px;
}
.introSection{
    position: relative;
    color: white;
    bottom: 60px;
}
/* @media (min-width:375px) and (max-width:812px) {
    .introSection{
        
        float: left;
        
        color: fuchsia;
    }
    .seattle{
        
        float: left;
    }
} */
@media screen and (max-width:500px){
    .seattle{
        width: 200px;
        height: 200px;
        position: relative;
        left:70px;
        top: 200px;
        
    }
    .introSection{
        text-align: center;
        float: right;
        position: relative;
        bottom: 150px;
        font-size: 5px;
        left:50px;
        
        padding-left: 100px;
        color: tomato;
    }
    #fullName{
        position: relative;
        right: 40px;
        text-align: center;
    }
}