nav.navbar.navbar-default {
    margin-bottom: 0;
  
  }

.navBarr {
  background-color: rgb(24, 22, 22);
  position:fixed;  
  z-index:1;
  width:100%;
  height:50px;
  text-align:center;
  vertical-align:middle;
  line-height:50px;
  top:0px;
}
#rightSide {
  color: white;
  font-family: 'Dancing Script', cursive;

}
#expB:hover {
  color: white;
  background-color: purple;
}
#aboutB:hover {
  background-color: red;
}

#portBut:hover {
  background-color: orangered;
}
#homeB:hover {
  color: black;
  background-color: yellow;
}