nav.navbar.navbar-default {
    margin-bottom: 0;
  
  }

.navBarr {
  background-color: rgb(24, 22, 22);
  position:fixed;  
  z-index:1;
  width:100%;
  height:50px;
  text-align:center;
  vertical-align:middle;
  line-height:50px;
  top:0px;
}
#rightSide {
  color: white;
  font-family: 'Dancing Script', cursive;

}

#expB{
  background-color: transparent;
  color: white;
  font-family: 'Dancing Script', cursive;
}

#expB:hover {
  color: dodgerblue;
  
}

#aboutB{
  color: white;
  background-color: transparent;
  font-family: 'Dancing Script', cursive;
}
#aboutB:hover {
  color: dodgerblue;
}

#portBut{
  background-color: transparent;
  color: white;
  font-family: 'Dancing Script', cursive;
}
#portBut:hover {
  color: dodgerblue;
}
#homeB{
  color: white;
  background-color: transparent;
}
#homeB:hover {
  color: dodgerblue;
  
}
.homeIcon{
  color: white;
}

@media (max-width: 756px) {
  .navBarr{
    height: 60px;
  }
}

