.footer {
    min-height: 100px;
    background: white;
    position: relative;
    /* text-align: center; */
    color: black;
    font-style: italic;
    font-weight: bold;
    opacity: 95%;

  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    
  }
  .aboutButtons {
    width: 410px;
    color: midnightblue;
}
.aboutButtons:hover {
  color: black;
  background-color: peachpuff;
}