.footer {
    min-height: 100px;
   
    position: relative;
    /* text-align: center; */
    color: white;
    font-style: italic;
    font-weight: bold;
    opacity: 95%;
    

  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    
  }
  .aboutButtons {
    width: 410px;
    color: midnightblue;
}
.aboutButtons:hover {
  color: black;
  background-color: peachpuff;
}
.experienceButton {
  font-family: 'Dancing Script', cursive;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}

#contactEmail:hover{
  color: blueviolet;
}
#mailIcon {
  position: relative;
  top:5px;
  right: 2000px;
}
#mailIcon:hover{
  color: bisque;
}

@media screen and (max-width: 764px) {
  h2{
    font-size:35px;
    font-family: 'Dancing Script', cursive;
  }
  h3{
    font-size: 25px;
    
  }
}